body{
    background-color: aliceblue;
    margin: 0;
}
.session-header{
    text-align: center;
    font-size: 40px;
}
.header-session{
    width: auto;height: 80px;
    background-color: #32cd32;
}
.header-content{
    text-align: left;
    margin: 0px 70px 0px 70px;
    padding: 10px 0px 10px 0px;
}
.logo-text{
    display: inline-block;
    font-size: 20px;
    font-weight: bolder;
}
.navbar-items{
    float: right;
}
li {
    display: inline;
    margin-left: 20px;
}
.navbar-button{
    padding: 10px;
    border-radius: 15px;
    background-color: #ffbf00;
}

.home-session{
    height: 90vh; 
    width: 100%;
    border:1px solid black;
    font-size:30px;
    background: repeating-linear-gradient(  90deg,  black,  green 10px,  rgb(37, 37, 37) 10px,  black 20px
);
    background-size: 100% 100%;
}
.home-content{
    font-size: 41px;
    display: inline-block;
    margin: 200px 70px 0px 70px;

}
.home-content p{
    color: black;
    text-align: center;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px yellow, 0 0 20px yellow, 0 0 25px yellow, 0 0 30px yellow, 0 0 35px yellow;    text-align: center;
}

.feature-video{
    width: 1000px;
    height: 500px;
}
.testimonial-one{
    display: grid;
    grid-template-columns:auto auto;
    vertical-align: middle;
    font-size: 20px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    margin: 20px 50px 50px 50px;
    border: 4px solid green;
    background: rgb(213, 254, 151);
}
.testimonial-content{
    margin: 0px 70px 0px 70px;
}
.testimonial-img{
    margin: 0px 20px 0px 20px;
}
.about-content{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    margin: 0px 70px 0px 70px;
}
.about-text{
    display: inline;
}
.paper{
    margin: auto;
    border: 4px solid green;
    margin: 20px 20px 20px 20px;
    padding: 10px;
    background: rgb(255, 255, 172);
    box-shadow:  20px 20px 60px #d8d7bb,
                -20px -20px 60px #fffffd;
}
.paper-text{
    font-size: 20px;
}
.contact-content{
    height: 300px;
    width: 100%;
    margin: 0px 70px 0p 70px;
    text-align: center;
    background-color:#32cd32;
    padding-top: 20px;
    font-size: 20px;
    
}
.contact-button{
    padding: 10px;
    border-radius: 15px;
    background: #ffbf00;
}
input{
    width: 200px;
    height: 20px;
    text-decoration: none;
}
